@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body { */
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
/* } */

/* app/styles/globals.css */

/* Define the custom font */
@font-face {
  font-family: 'Alata';
  src: url('/fonts/Alata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply Alata font globally */
.logo {
  font-family: 'Alata', sans-serif;
}


body {
  font-family: 'Poppins', sans-serif;
  background: #E6E4FF80;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
