/* Graph section */
.dashboard-graph {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 54px;
    overflow: hidden;
    /* height: 500px; */
    /*flex-grow: 1; Allow it to take up remaining space */
  }



  
/* For Webkit Browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 50px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #948AF8; /* Track background color */
  border-radius: 10px; /* Rounded corners for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FDBA8C; /* Thumb (scroll bar handle) color */
  border-radius: 9999px; /* Fully rounded corners for the thumb */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: auto; /* Make the scrollbar thinner */
  scrollbar-color: #FDBA8C #948AF8; /* Thumb color, then track color */
}

/* Optional for Cross-Browser Compatibility */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fc9e6e; /* Slightly darker color on hover for better feedback */
}

